 body{
	margin:0;
	padding:0;
	
}

#container{
  width:99vw;
  height:99vh;
  border:.2vw solid blue;
}

#chat_container{
	position:relative;
	height:90vh;
	
}
#msg_box{
	position:absolute;
	bottom:0;
}